In [ ]:
#reading the csv file
import pandas as pd

df = pd.read_csv('bank_customer_data.csv')
print(df)

      RowNumber  CustomerId    Surname  ...  IsActiveMember EstimatedSalary Exited
0             1    15634602   Hargrave  ...               1       101348.88      1
1             2    15647311       Hill  ...               1       112542.58      0
2             3    15619304       Onio  ...               0       113931.57      1
3             4    15701354       Boni  ...               0        93826.63      0
4             5    15737888   Mitchell  ...               1        79084.10      0
...         ...         ...        ...  ...             ...             ...    ...
9995       9996    15606229   Obijiaku  ...               0        96270.64      0
9996       9997    15569892  Johnstone  ...               1       101699.77      0
9997       9998    15584532        Liu  ...               1        42085.58      1
9998       9999    15682355  Sabbatini  ...               0        92888.52      1
9999      10000    15628319     Walker  ...               0        38190.78      0

[10000 rows x 14 columns]

In [ ]:
#performing EDA (exploratory data analysis)#
import pandas as pd

def PrintDataStats(df, numericAttributes, nominalAttributes, binaryAttributes):
  
  for attributeName in numericAttributes:
    print("##########Stats of "+attributeName+"##############")
    print("Attribute Type: Numeric")
    print("Mean: "+str(df[attributeName].mean()) )
    print("Max: "+str(df[attributeName].max()))
    print("Min: "+ str(df[attributeName].min()))
    print("Standard Deviation: "+str(df[attributeName].std()))
    print("Variance: "+str(df[attributeName].var()))
    print("")

  for attributeName in nominalAttributes:
    print("##########Stats of "+attributeName+"##############")
    print("Attribute Type: Nominal")
    uniqueValues=df[attributeName].unique()
    print("Unique Values: ")
    print(uniqueValues);
    print(df[attributeName].value_counts())
    print("Mode: "+df[attributeName].mode().values)
    print()

  for attributeName in binaryAttributes:
    print("##########Stats of "+attributeName+"##############")
    print("Attribute Type: Binary")
    uniqueValues=df[attributeName].unique()
    print("Unique Values: ")
    print(uniqueValues);
    print(df[attributeName].value_counts())
    print("Mode: "+str(df[attributeName].mode().values))
    print()

PrintDataStats(df, 
               ["CreditScore","Age","Balance", "Tenure", "NumOfProducts", "EstimatedSalary"], 
               ["Surname", "Geography"], 
               ["Gender", "HasCrCard", "IsActiveMember", "Exited"])

##########Stats of CreditScore##############
Attribute Type: Numeric
Mean: 650.5288
Max: 850
Min: 350
Standard Deviation: 96.65329873613061
Variance: 9341.860156575705

##########Stats of Age##############
Attribute Type: Numeric
Mean: 38.9218
Max: 92
Min: 18
Standard Deviation: 10.487806451704591
Variance: 109.99408416841645

##########Stats of Balance##############
Attribute Type: Numeric
Mean: 76485.88928799961
Max: 250898.09
Min: 0.0
Standard Deviation: 62397.40520238623
Variance: 3893436175.9907765

##########Stats of Tenure##############
Attribute Type: Numeric
Mean: 5.0128
Max: 10
Min: 0
Standard Deviation: 2.892174377049708
Variance: 8.364672627262866

##########Stats of NumOfProducts##############
Attribute Type: Numeric
Mean: 1.5302
Max: 4
Min: 1
Standard Deviation: 0.5816543579989936
Variance: 0.3383217921792214

##########Stats of EstimatedSalary##############
Attribute Type: Numeric
Mean: 100090.2398809998
Max: 199992.48
Min: 11.58
Standard Deviation: 57510.49281769822
Variance: 3307456784.134519

##########Stats of Surname##############
Attribute Type: Nominal
Unique Values:
['Hargrave' 'Hill' 'Onio' ... 'Kashiwagi' 'Aldridge' 'Burbidge']
Smith          32
Martin         29
Scott          29
Walker         28
Brown          26
               ..
Kistler         1
Micklem         1
Gearhart        1
Higinbotham     1
Weatherford     1
Name: Surname, Length: 2932, dtype: int64
['Mode: Smith']

##########Stats of Geography##############
Attribute Type: Nominal
Unique Values:
['France' 'Spain' 'Germany']
France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64
['Mode: France']

##########Stats of Gender##############
Attribute Type: Binary
Unique Values:
['Female' 'Male']
Male      5457
Female    4543
Name: Gender, dtype: int64
Mode: ['Male']

##########Stats of HasCrCard##############
Attribute Type: Binary
Unique Values:
[1 0]
1    7055
0    2945
Name: HasCrCard, dtype: int64
Mode: [1]

##########Stats of IsActiveMember##############
Attribute Type: Binary
Unique Values:
[1 0]
1    5151
0    4849
Name: IsActiveMember, dtype: int64
Mode: [1]

##########Stats of Exited##############
Attribute Type: Binary
Unique Values:
[1 0]
0    7963
1    2037
Name: Exited, dtype: int64
Mode: [0]

In [ ]:
#removing less useful attributes because these attributes do not help in finding any pattern
df = df.drop(columns={"RowNumber", "CustomerId", "Surname"})
print(df)

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [ ]:
#converting nominal attributes into numeric attributes

df["GeographyFrance"]=0
df['GeographyFrance']= df['Geography'].apply(lambda x: 1 if (x == 'France') else 0) 

df["GeographySpain"]=0
df['GeographySpain']= df['Geography'].apply(lambda x: 1 if (x == 'Spain') else 0) 

df["GeographyGermany"]=0
df['GeographyGermany']= df['Geography'].apply(lambda x: 1 if (x == 'Germany') else 0) 

df["Gender"]= df["Gender"].apply(lambda x: 1 if (x=="Male") else 0)

In [ ]:
#removing nominal attributes because we have made new  numeric attributes for nominal attributes#
df = df.drop(columns={"Geography"})

In [ ]:
#Performing Min-Max Normalization of attributes (binary attributes 
#having values 0 or 1 will remain unchanged).#
def normalize(df):
    result = df.copy()
    for feature_name in df.columns:
        max_value = df[feature_name].max()
        min_value = df[feature_name].min()
        result[feature_name] = (df[feature_name] - min_value) / (max_value - min_value)
    return result

df=normalize(df)

In [ ]:
print(df.columns)

Index(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts',
       'HasCrCard', 'IsActiveMember', 'EstimatedSalary', 'Exited',
       'GeographyFrance', 'GeographySpain', 'GeographyGermany'],
      dtype='object')

In [ ]:
#diving the dataset into train set and test set

#permutating the dataset (shuffling)
df_permutated = df.sample(frac=1)

train_size = 0.8
train_end = int(len(df_permutated)*train_size)

df_train = df_permutated[:train_end]

df_test = df_permutated[train_end:]

In [ ]:
#separating labels
df_train_labels=df_train["Exited"]
df_train = df_train.drop(columns="Exited")

df_test_labels=df_test["Exited"]
df_test = df_test.drop(columns="Exited")

In [ ]:
print(df_train.shape)
print(df_test.shape)

(8000, 12)
(2000, 12)

In [ ]:
#Defining the Neural Network Model for Dataset 1

from keras.models import Sequential
from keras.layers import Dense, Dropout

# define the keras model
model = Sequential()
model.add(Dense(12, input_dim=df_train.shape[1], activation='relu')) #1st hidden layer having 12 neurons and relu activation function
model.add(Dense(8, activation='tanh')) #2nd hidden layer having 8 neurons and tanh activation function
model.add(Dense(1, activation='sigmoid')) #the output layer having a single neuron and sigmoid activation function

# compile the keras model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
...

Ellipsis

In [ ]:
model.fit(df_train.values, df_train_labels.values, epochs=30, batch_size=32)

Epoch 1/30
250/250 [==============================] - 1s 2ms/step - loss: 0.5359 - accuracy: 0.7625
Epoch 2/30
250/250 [==============================] - 0s 2ms/step - loss: 0.4791 - accuracy: 0.7955
Epoch 3/30
250/250 [==============================] - 0s 1ms/step - loss: 0.4592 - accuracy: 0.8018
Epoch 4/30
250/250 [==============================] - 0s 1ms/step - loss: 0.4436 - accuracy: 0.8099
Epoch 5/30
250/250 [==============================] - 0s 1ms/step - loss: 0.4333 - accuracy: 0.8131
Epoch 6/30
250/250 [==============================] - 0s 1ms/step - loss: 0.4268 - accuracy: 0.8152
Epoch 7/30
250/250 [==============================] - 0s 1ms/step - loss: 0.4218 - accuracy: 0.8171
Epoch 8/30
250/250 [==============================] - 0s 1ms/step - loss: 0.4159 - accuracy: 0.8223
Epoch 9/30
250/250 [==============================] - 0s 1ms/step - loss: 0.4099 - accuracy: 0.8234
Epoch 10/30
250/250 [==============================] - 0s 1ms/step - loss: 0.4055 - accuracy: 0.8267
Epoch 11/30
250/250 [==============================] - 0s 2ms/step - loss: 0.3972 - accuracy: 0.8313
Epoch 12/30
250/250 [==============================] - 0s 2ms/step - loss: 0.3898 - accuracy: 0.8366
Epoch 13/30
250/250 [==============================] - 0s 1ms/step - loss: 0.3824 - accuracy: 0.8397
Epoch 14/30
250/250 [==============================] - 0s 2ms/step - loss: 0.3753 - accuracy: 0.8457
Epoch 15/30
250/250 [==============================] - 0s 2ms/step - loss: 0.3684 - accuracy: 0.8486
Epoch 16/30
250/250 [==============================] - 0s 2ms/step - loss: 0.3629 - accuracy: 0.8503
Epoch 17/30
250/250 [==============================] - 0s 2ms/step - loss: 0.3588 - accuracy: 0.8540
Epoch 18/30
250/250 [==============================] - 0s 2ms/step - loss: 0.3558 - accuracy: 0.8546
Epoch 19/30
250/250 [==============================] - 0s 1ms/step - loss: 0.3532 - accuracy: 0.8545
Epoch 20/30
250/250 [==============================] - 0s 1ms/step - loss: 0.3515 - accuracy: 0.8554
Epoch 21/30
250/250 [==============================] - 0s 1ms/step - loss: 0.3501 - accuracy: 0.8547
Epoch 22/30
250/250 [==============================] - 0s 2ms/step - loss: 0.3492 - accuracy: 0.8562
Epoch 23/30
250/250 [==============================] - 0s 2ms/step - loss: 0.3477 - accuracy: 0.8577
Epoch 24/30
250/250 [==============================] - 0s 1ms/step - loss: 0.3471 - accuracy: 0.8581
Epoch 25/30
250/250 [==============================] - 0s 1ms/step - loss: 0.3456 - accuracy: 0.8569
Epoch 26/30
250/250 [==============================] - 0s 1ms/step - loss: 0.3455 - accuracy: 0.8562
Epoch 27/30
250/250 [==============================] - 0s 1ms/step - loss: 0.3447 - accuracy: 0.8577
Epoch 28/30
250/250 [==============================] - 0s 2ms/step - loss: 0.3435 - accuracy: 0.8585
Epoch 29/30
250/250 [==============================] - 0s 1ms/step - loss: 0.3422 - accuracy: 0.8602
Epoch 30/30
250/250 [==============================] - 0s 2ms/step - loss: 0.3431 - accuracy: 0.8575

In [ ]:
#Evaluating the Model

# evaluate the keras model
_, accuracy = model.evaluate(df_test.values, df_test_labels.values)
print('Accuracy: %.2f' % (accuracy*100))

63/63 [==============================] - 0s 1ms/step - loss: 0.3408 - accuracy: 0.8610
Accuracy: 86.10